.navbar-brand h2{
    margin: 0 100px 0 10px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    letter-spacing: -5px;
    text-shadow: -3px 5px 10px rgb(0, 0, 0);
    color: rgb(181, 187, 192);
}.container{
    min-width: 310px;
    max-width: 650px;
    margin-top: 8px;
}.jumbotron{
    margin: auto;
    padding-top: 15px;
}.form-group{
    clear:both;
    overflow: hidden;
}.form-control{
    outline-color: green !important;
}.input1{
    width: 49.5%;
    float: left;
    padding: 0 5px;
}.card-title{
    color: rgb(74, 173, 240);
    text-align: center;
}.colon{
    color: #90fc02;
}.table td, .table th{
    padding: 5px;
}.hidden-msg{
    visibility: hidden;
    display: none;
}.error-alert{
    color: red !important;
    font-display: inherit;
}.success{
    text-align: center;
    color: yellowgreen;
    display: none;
}.show {
    visibility: visible;
    display: block;
}.autocomplete{
    background: rgb(204, 247, 236);
    color: black;
    font-size: initial;
    border-radius: 5px;
    font-family: initial;
}





#typing{
    display: block;
    overflow: hidden;
    margin-bottom: 1em;
}
#typing > p{
	font-family: cursive;
	position: absolute;
	overflow: hidden;
    color: transparent;
}
#typing > p:before{
	content: attr(data-text);
	position: absolute;
	color: rgb(200, 253, 76);
	overflow: hidden;
	border-right: 1px solid red;
	white-space: nowrap;
	animation: typing 10s steps(25) infinite;
}
@keyframes typing{
	0%{width: 0;}
	40%{width: 100%;}
	80%{width: 100%;}
	90%{width: 0;}
    100%{width: 0;}
}