.container{
    width: 700px;
    min-width: 310px;
    max-width: 700px;
    margin-top: 8px;
}.jumbotron{
    padding-top: 15px;
}.form-group{
    clear:both;
    overflow: hidden;
}.input1{
    width: 49.5%;
    float: left;
    padding: 0 5px;
}.card-title{
    color: rgb(74, 173, 240);
    text-align: center;
}.colon{
    float: right;
    overflow: hidden;
    color: #a8f551;
}.table td, .table th{
    padding: 5px;
}.hidden-msg{
    visibility: hidden;
    display: none;
}
