.navbar-brand h2{
    margin: 0 50px 0 10px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    letter-spacing: -5px;
    text-shadow: -3px 5px 10px rgb(0, 0, 0);
    color: rgb(181, 187, 192);
}.container{
    min-width: 310px;
    max-width: 650px;
    margin-top: 8px;
}.jumbotron{
    margin: auto;
    padding-top: 15px;
}.form-group{
    clear:both;
    overflow: hidden;
}.form-control{
    outline-color: green !important;
}.input1{
    width: 49.5%;
    float: left;
    padding: 0 5px;
}.card-title{
    color: rgb(74, 173, 240);
    text-align: center;
}.colon{
    float: right;
    overflow: hidden;
    color: #a8f551;
}.table td, .table th{
    padding: 5px;
}.hidden-msg{
    visibility: hidden;
    display: none;
}.error-alert{
    color: red !important;
    font-display: inherit;
}.success{
    text-align: center;
    color: yellowgreen;
    display: none;
}.show {
    visibility: visible;
    display: block;
}

.subject-input-1{
    width: 50%;
    margin-right: 5px;
  }